<div class="bg-main">

  <div class="row text-center">
  <h1 class="main-title jumbo col-sm-12">WELCOME TO THE MOVIE MACHINE!</h1>
  </div>

  <div class="button_row row-fluid">
  <%= link_to "Find me a movie!", movies_path, {class: "btn btn-primary btn-lg main-btn col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1" } %>
  </div>
  <br>

  <div class="button_row row-fluid">
  <%= link_to "Show me what DVD to rent!", dvds_path, {class: "btn btn-primary btn-lg main-btn col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1"} %>
  </div>
  <br>

  <div class="row-fluid clearfix">
    <h2 class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center main-copy">Help us find you what to watch from the latest releases in Theatres and DVD</h2>
  </div>  
</div> <!-- bg-main -->

