// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg-main {
  height:800px;
  background: url('movies.jpg') no-repeat;
  background-size: cover;
}
.jumbo {
  padding-top: 150px;
  padding-bottom: 50px;
  font-size: 4em;
}
.main-btn {
  // width: 25%;
}
.button_row {
  padding-top: 10px;
}