// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg-main {
  height:600px;
  background: url('movies.jpg') no-repeat;
  background-size: cover;
}
